# Environment variables
.env
.env.*

# Database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

dist/
.vscode